.comment{
    max-width: 380px;
    text-align: center;
}
.comment__picture-wrapper{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.comment__text{
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    margin-bottom: 20px;
}
.comment__picture{
    display: block;
}
.comment__author{
    color: $accentColor;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}
.comment__subauthor{
    color: $titleFontColor;
    font-size: 16px;
    font-weight: 500;
}