.skills__section{
    margin-bottom: 35px;
}
.skills__title{
    font-size: 28px;
    line-height: 1;
    margin-bottom: 20px;
    color: $titleFontColor;
    font-weight: 500;
}
.skills__skill{
    margin-right: 37px;
    margin-bottom: 5px;
    display: inline-block;
    &:last-child{
        margin-right: 0;
    }
}