.socials{
    display: inline-flex;
}
.socials__item{
    flex: 0 0 auto;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}
.socials__link{
    display: inline-block;
}
.socials__icon{
    width: 24px;
    fill: #fff;
    transition: all 0.2s;
    &:hover{
        fill: $accentColor;
    }
}
.socials__icon_gray{
    fill: #fff;
    opacity: 0.5;
    &:hover{
        fill: #fff;
        opacity: 1;
    }
}