.user-about{
    text-align: center;
    &_right{
        margin-bottom: 50px;
    }
}
.user-about__picture-wrapper{
    max-width: 100%;
    overflow: hidden;
}
.user-about__picture{
    max-width: 100%;
}
.user-about__title{
    margin-bottom: 30px;
}
.user-about__description{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}