mixin chart(data, modClass)
    .chart(class= modClass || '')
        svg(xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 120 120").chart__circle
            circle(cx="60" cy="60" r="50")
        .chart__name= data.name
