extends ../_template
include ../sections/head
include ../sections/footer
include ../blocks/hero
include ../blocks/title
include ../blocks/chart
include ../blocks/svg_image

block content
    +head()
        +hero(common.hero)
    section.about
        .about__section.about__section_bg_beige
            .about__section-container.about__section-container_left
                +svg_image("about_bg_left", "triangle triangle_feel_beige", {viewBox: "0 0 601 105"})
                |
                +title(about.titles.about, {
                        mainClass: "about__section-title", 
                        bg: "title__bg_about",
                        text: "title__text_fz_63"
                    })
                |
                .user-about
                    .user-about__picture-wrapper
                        img(src= common.hero.avatar).user-about__picture
                    |
                    +title(about.titles.whoIAm, {mainClass: "user-about__title"})
                    |
                    p.user-about__description
                        = about.description
        .about__section.about__section_bg_white
            .about__section-container.about__section-container_right
                +svg_image("about_bg_right", "triangle triangle_feel_white", {viewBox: "0 0 601 105"})
                .user-about.user-about_right
                    +title(about.titles.canHelp, {
                            mainClass: "user-about__title"
                        })
                    |
                    p.user-about__description
                        = about.skillsDescription
                .skills
                    each skill in about.skills
                        .skills__section
                            .skills__title= skill.skillName
                            |
                            .skills__charts
                                each skillTitle in skill.skillList
                                    +chart(skillTitle, "skills__skill")
    section.about__map
        .contacts
            +title(about.titles.contacts, {mainClass: "contacts__title"})
            |
            ul.contacts__list
                each contact in about.contacts
                    li.contacts__item
                        +svg_image(contact.icon, "contacts__icon")
                        .contacts__text= contact.text
    +footer(1, "footer_transparent about__footer")
