extends ../_template
include ../sections/head
include ../sections/footer
include ../blocks/hero
include ../blocks/title
include ../blocks/aside
include ../blocks/svg_image

block content
    +head({bg: "blog_header"})
        +hero(common.hero)
    section.blog
        +svg_image("blog_header", "blog__bg")
        .blog__aside
            +aside(blog.asideItems, 1)
        .blog__content
            article.post
                h2.post__title
                |
                .post__date
                |
                .post__content
    +footer(0)