extends ../_template
include ../blocks/btn
include ../blocks/hero
include ../blocks/socials

block content
    .welcome
        .welcome__top
            +btn("Авторизоваться").welcome__top-button
        .welcome__main
            +hero(common.hero).welcome__hero
            +socials(common.socials)
            ul.welcome-nav
                each item in welcome.nav
                    li.welcome-nav__item
                        a.welcome-nav__link(href= item.link)
                        |   item.text
        .welcome__bottom
            .welcome__copyright
                =common.footer.copyright
