extends ../_template
include ../blocks/hero
include ../blocks/socials

block content
    .welcome
        .welcome__top
            button.btn.btn_white.btn_transparent.btn_round= "Авторизоваться"
        .welcome__main
            .welcome__main-content
                +hero(common.hero, "welcome__main-hero").welcome__hero
                +socials(common.socials)
            ul.welcome-nav
                each item in welcome.nav
                    li.welcome-nav__item.btn.btn_square
                        a(class= "welcome-nav__link"
                          href= item.link
                        )= item.text
        .welcome__bottom
            .copyright
                =common.footer.copyright
